<button mat-button (click)="goBack()">Back</button>
@if (opponent1 && opponent2) {
  @for (item of [opponent1, opponent2]; track $index) {
    <mat-card [ngClass]="{'winner': winnerIndex === $index}">
      <mat-card-title>{{ item.properties.name }}</mat-card-title>
      <mat-card-content>
        @for (prop of propertiesOf(item); track $index) {
          <div class="item-property">{{ prop[0] }}: {{ prop[1] }}</div>
        }
      </mat-card-content>
    </mat-card>
  }
  <button mat-button (click)="play()">{{ playButtonLabel }}</button>
}

