.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    flex-basis: 45%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 45%;

    &--winner {
      border: goldenrod solid;
    }

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-content {
      overflow-x: auto;
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 2rem 0;

  &__back#battle-back {
    width: 15%;
    height: 4rem;
    font-size: 2rem;
  }
  &__play#battle-play {
    width: 85%;
    height: 4rem;
    font-size: 2rem;
  }
}

.counter {
  display: flex;

  &__opponent {
    font-size: 2rem;
    margin: 2rem;
    border-radius: 50%;
    padding: 2rem;
    &--no1 {
      color:orangered;
      border: 2px solid orangered;
    }
    &--no2 {
      color:blue;
      border: 2px solid blue;
    }
  }
  &__progressbar {
    margin: auto;
    width: 80%;
  }
}

.draw {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color:black;
  justify-content: center;
}

:host {
  --mdc-linear-progress-track-height: 2rem;
  --mdc-linear-progress-active-indicator-height: 2rem;
  --mdc-linear-progress-active-indicator-color: orangered;
  --mdc-linear-progress-track-color: blue;
}

