.select-category {
  font-size: 1.5rem;
}

.card {
  display: flex;
  border-radius: 0;
  align-items: center;
  margin: 1px 0;
}

.header {
  text-align: center;
}

#battle-button {
  width: 100%;
  margin: 1rem 0;
  height: 4rem;
  font-size: 2rem;
}
