<div class="select-category">
  <h1 class="header">Choose a category and attributes</h1>

  <mat-card class="card">
    <mat-card-header>
      Select a category
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group id="choose-category" aria-label="Select a category" [(ngModel)]="category" (change)="onCategoryChange()">
        <mat-radio-button class="category-option" value="people">People</mat-radio-button>
        <mat-radio-button class="category-option" value="starships">Starships</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>

  @if (category === 'people') {
    <mat-card class="card">
      <mat-card-header>
        Select an attribute of people
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group id="attribute-people" aria-label="Select an attribute of people" [(ngModel)]="peopleAttribute">
          <mat-radio-button class="people-option" value="height">Height</mat-radio-button>
          <mat-radio-button class="people-option" value="mass">Mass</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
  }

  @if (category === 'starships') {
    <mat-card class="card">
      <mat-card-header>
        Select an attribute of starships
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group id="attribute-starships" aria-label="Select an attribute of starship" [(ngModel)]="starshipsAttribute">
          <mat-radio-button class="starships-option" value="cost_in_credits">Cost</mat-radio-button>
          <mat-radio-button class="starships-option" value="length">Length</mat-radio-button>
          <mat-radio-button class="starships-option" value="passengers">Passengers</mat-radio-button>
          <mat-radio-button class="starships-option" value="cargo_capacity">Capacity</mat-radio-button>
          <mat-radio-button class="starships-option" value="crew">Crew</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
  }
</div>
<button mat-flat-button id="battle-button" [disabled]="!isSelectionReady()" (click)="battle()">Let's go!</button>
